{% extends 'layout.html' %}

{% block content %}


<h1>Hello NJ</h1>

<form id="vote-form" method="POST" action="/voting">
    <input type="radio" id="A" name="vote" value="Aaaaaa">
    <label for="A">vote for A</label>
    <input type="radio" id="B" name="vote" value="Baaaaa">
    <label for="B">vote for B</label>
    <input type="radio" id="C" name="vote" value="Caaaaa">
    <label for="C">vote for C</label>
    <input type="radio" id="D" name="vote" value="Daaaaa">
    <label for="D">vote for D</label>
    <input type="submit" value="submit now">
</form>
{% endblock %}